flows_2020_04_13.json
[{"id":"ef7fa0bd.658628","type":"tab","label":"Debugging","disabled":false,"info":""},{"id":"442f3479.b6c344","type":"ui_chart","z":"ef7fa0bd.658628","name":"","group":"ddf992f4.4e0c1","order":2,"width":"10","height":"8","label":"Pressure [mbar]","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#0061ff","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1020,"y":80,"wires":[[]]},{"id":"eea2fda0.29e1f8","type":"ui_chart","z":"ef7fa0bd.658628","d":true,"name":"","group":"ddf992f4.4e0c1","order":3,"width":"8","height":"4","label":"Relay State","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#0061ff","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1010,"y":120,"wires":[[]]},{"id":"eabd4a3d.1b373","type":"ui_text","z":"ef7fa0bd.658628","group":"4eb874b1.f27214","order":7,"width":0,"height":0,"name":"","label":"PEEP [mBar]","format":"{{msg.payload}}","layout":"row-spread","x":890,"y":480,"wires":[]},{"id":"e96f5840.8b8298","type":"ui_text","z":"ef7fa0bd.658628","group":"4eb874b1.f27214","order":2,"width":0,"height":0,"name":"","label":"Breathing Rate [1/min]","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":380,"wires":[]},{"id":"565bc0f1.e54958","type":"change","z":"ef7fa0bd.658628","name":"Rate [1/min]","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.R","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":380,"wires":[["e96f5840.8b8298"]]},{"id":"a7170590.7b7cc8","type":"change","z":"ef7fa0bd.658628","name":"PEEP","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.P","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":480,"wires":[["eabd4a3d.1b373"]]},{"id":"c82ae6e0.f0744","type":"change","z":"ef7fa0bd.658628","name":"Operation","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.O","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":560,"wires":[["1436f050.8c721"]]},{"id":"e96963af.d99be","type":"ui_text","z":"ef7fa0bd.658628","group":"4eb874b1.f27214","order":6,"width":0,"height":0,"name":"","label":"P-Peak [mBar]","format":"{{msg.payload}}","layout":"row-spread","x":900,"y":520,"wires":[]},{"id":"1436f050.8c721","type":"ui_text","z":"ef7fa0bd.658628","group":"4eb874b1.f27214","order":1,"width":0,"height":0,"name":"","label":"Operation","format":"{{msg.payload}}","layout":"row-spread","x":880,"y":560,"wires":[]},{"id":"70f55f66.ecec68","type":"change","z":"ef7fa0bd.658628","name":"Settings","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.S","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":480,"wires":[["565bc0f1.e54958","a7170590.7b7cc8","c82ae6e0.f0744","72311f5f.67888","577a1f01.d094a8","56e4e79e.95cc8","9475b411.2e29c"]]},{"id":"72311f5f.67888","type":"change","z":"ef7fa0bd.658628","name":"P-Peak","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.PP","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":520,"wires":[["e96963af.d99be"]]},{"id":"577a1f01.d094a8","type":"change","z":"ef7fa0bd.658628","name":"T-In [%]","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.T","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":420,"wires":[["487d2616.9c5de","34df559e.2635d2"]]},{"id":"35b74675.991cea","type":"ui_text","z":"ef7fa0bd.658628","group":"f42dd663.2cbf78","order":1,"width":0,"height":0,"name":"","label":"Rate [1/min]","format":"{{msg.payload}}","layout":"row-spread","x":470,"y":1300,"wires":[]},{"id":"5ca34ee3.546aa8","type":"ui_slider","z":"ef7fa0bd.658628","name":"","label":"","tooltip":"","group":"f42dd663.2cbf78","order":1,"width":"3","height":"1","passthru":true,"outs":"all","topic":"","min":0,"max":"30","step":1,"x":210,"y":1340,"wires":[["35b74675.991cea","b179198d.0de678","ada5eda1.cbed2"]]},{"id":"604adb53.71254c","type":"ui_button","z":"ef7fa0bd.658628","name":"","group":"f42dd663.2cbf78","order":2,"width":"1","height":"1","passthru":false,"label":"OK","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"complete\":true}","payloadType":"json","topic":"","x":210,"y":1380,"wires":[["a6b38bcf.4eedc"]]},{"id":"96265ed1.d99188","type":"comment","z":"ef7fa0bd.658628","name":"Rate","info":"","x":210,"y":1300,"wires":[]},{"id":"de6ecc19.880878","type":"ui_text","z":"ef7fa0bd.658628","group":"7fa5b4db.896cbc","order":1,"width":0,"height":0,"name":"","label":"PEEP [mbar]","format":"{{msg.payload}}","layout":"row-spread","x":470,"y":1580,"wires":[]},{"id":"9f5a99f1.d1e11","type":"ui_slider","z":"ef7fa0bd.658628","name":"","label":"","tooltip":"","group":"7fa5b4db.896cbc","order":1,"width":"3","height":"1","passthru":true,"outs":"all","topic":"","min":"0","max":"50","step":1,"x":210,"y":1580,"wires":[["de6ecc19.880878","6f241d66.67f4b4","92d8a8a5.f09ca8"]]},{"id":"b68a9428.f624d","type":"ui_button","z":"ef7fa0bd.658628","name":"","group":"7fa5b4db.896cbc","order":2,"width":"1","height":"1","passthru":false,"label":"OK","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"complete\":true}","payloadType":"json","topic":"","x":210,"y":1620,"wires":[["ea40cec.3d0bab"]]},{"id":"2f2b734d.1a70ec","type":"comment","z":"ef7fa0bd.658628","name":"PEEP","info":"","x":210,"y":1540,"wires":[]},{"id":"8372550d.e67d08","type":"join","z":"ef7fa0bd.658628","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":610,"y":1400,"wires":[["579cb69c.30c68"]]},{"id":"a7c4c4b9.bceb6","type":"join","z":"ef7fa0bd.658628","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":610,"y":1640,"wires":[["14732bcc.97e9a4"]]},{"id":"b179198d.0de678","type":"function","z":"ef7fa0bd.658628","name":"Objectify","func":"var newmsg = {\"R\":msg.payload};\nreturn {\"payload\":newmsg};","outputs":1,"noerr":0,"x":460,"y":1340,"wires":[["8372550d.e67d08"]]},{"id":"6f241d66.67f4b4","type":"function","z":"ef7fa0bd.658628","name":"Objectify","func":"var newmsg = {\"P\":msg.payload};\nreturn {\"payload\":newmsg};","outputs":1,"noerr":0,"x":460,"y":1620,"wires":[["a7c4c4b9.bceb6"]]},{"id":"a6b38bcf.4eedc","type":"function","z":"ef7fa0bd.658628","name":"Objectify","func":"return msg.payload;","outputs":1,"noerr":0,"x":460,"y":1400,"wires":[["8372550d.e67d08"]]},{"id":"ea40cec.3d0bab","type":"function","z":"ef7fa0bd.658628","name":"Objectify","func":"return msg.payload;","outputs":1,"noerr":0,"x":460,"y":1660,"wires":[["a7c4c4b9.bceb6"]]},{"id":"902cba66.491f28","type":"comment","z":"ef7fa0bd.658628","name":"Operation","info":"","x":220,"y":2280,"wires":[]},{"id":"29c66c20.4bcbb4","type":"join","z":"ef7fa0bd.658628","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":610,"y":2360,"wires":[["8dc6f15f.55c36","143a99d2.fcb9a6"]]},{"id":"d0a78f68.4c15f","type":"function","z":"ef7fa0bd.658628","name":"Objectify","func":"return msg.payload;","outputs":1,"noerr":0,"x":480,"y":2400,"wires":[["29c66c20.4bcbb4"]]},{"id":"b5f2f94e.2f2688","type":"function","z":"ef7fa0bd.658628","name":"enable","func":"return {\"enabled\":true};","outputs":1,"noerr":0,"x":210,"y":2480,"wires":[["e7904b0a.eb313"]]},{"id":"9c0e41e.0b6f5c","type":"function","z":"ef7fa0bd.658628","name":"disable","func":"return {\"enabled\":false};","outputs":1,"noerr":0,"x":220,"y":2520,"wires":[["e7904b0a.eb313"]]},{"id":"c21aed06.fb3dc","type":"function","z":"ef7fa0bd.658628","name":"enable","func":"return {\"enabled\":true};","outputs":1,"noerr":0,"x":370,"y":2480,"wires":[["28441ccc.d6c6ec"]]},{"id":"2c176455.3c2eb4","type":"function","z":"ef7fa0bd.658628","name":"disable","func":"return {\"enabled\":false};","outputs":1,"noerr":0,"x":380,"y":2520,"wires":[["28441ccc.d6c6ec"]]},{"id":"8dc6f15f.55c36","type":"switch","z":"ef7fa0bd.658628","name":"not empty","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":2360,"wires":[["456b7428.895ddc"]]},{"id":"14732bcc.97e9a4","type":"switch","z":"ef7fa0bd.658628","name":"not empty","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":740,"y":1640,"wires":[["e0469db0.28c56"]]},{"id":"579cb69c.30c68","type":"switch","z":"ef7fa0bd.658628","name":"not empty","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":740,"y":1400,"wires":[["bcc60068.859c3"]]},{"id":"48640473.d9ab04","type":"ui_text","z":"ef7fa0bd.658628","group":"55aad09d.cb0a48","order":1,"width":0,"height":0,"name":"","label":"Peak [mbar]","format":"{{msg.payload}}","layout":"row-spread","x":470,"y":1820,"wires":[]},{"id":"fe54b02f.b4188","type":"ui_slider","z":"ef7fa0bd.658628","name":"","label":"","tooltip":"","group":"55aad09d.cb0a48","order":1,"width":"3","height":"1","passthru":true,"outs":"all","topic":"","min":"10","max":"75","step":1,"x":210,"y":1820,"wires":[["48640473.d9ab04","4d422429.bb7514","ab38fdfd.22595"]]},{"id":"80d95401.9c9ca","type":"ui_button","z":"ef7fa0bd.658628","name":"","group":"55aad09d.cb0a48","order":2,"width":"1","height":"1","passthru":false,"label":"OK","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"complete\":true}","payloadType":"json","topic":"","x":210,"y":1860,"wires":[["b8a60bb7.219578"]]},{"id":"6860dba6.bdef1c","type":"comment","z":"ef7fa0bd.658628","name":"Peak","info":"","x":210,"y":1780,"wires":[]},{"id":"e13d14a7.164b8","type":"join","z":"ef7fa0bd.658628","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":610,"y":1880,"wires":[["767c2d6f.84cea4"]]},{"id":"4d422429.bb7514","type":"function","z":"ef7fa0bd.658628","name":"Objectify","func":"var newmsg = {\"PP\":msg.payload};\nreturn {\"payload\":newmsg};","outputs":1,"noerr":0,"x":460,"y":1860,"wires":[["e13d14a7.164b8"]]},{"id":"b8a60bb7.219578","type":"function","z":"ef7fa0bd.658628","name":"Objectify","func":"return msg.payload;","outputs":1,"noerr":0,"x":460,"y":1900,"wires":[["e13d14a7.164b8"]]},{"id":"767c2d6f.84cea4","type":"switch","z":"ef7fa0bd.658628","name":"not empty","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":740,"y":1880,"wires":[["6f496782.500be8"]]},{"id":"143a99d2.fcb9a6","type":"ui_text","z":"ef7fa0bd.658628","group":"665b3817.310228","order":1,"width":0,"height":0,"name":"","label":"Operation","format":"{{msg.payload.OP}}","layout":"row-spread","x":800,"y":2320,"wires":[]},{"id":"12e19179.dbf917","type":"ui_button","z":"ef7fa0bd.658628","name":"","group":"665b3817.310228","order":4,"width":"0","height":"0","passthru":false,"label":"OK","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"complete\":true}","payloadType":"json","topic":"","x":210,"y":2400,"wires":[["d0a78f68.4c15f","22c9209.cc45be"]]},{"id":"28441ccc.d6c6ec","type":"ui_button","z":"ef7fa0bd.658628","name":"","group":"665b3817.310228","order":3,"width":"1","height":"1","passthru":false,"label":"Stop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"O\":\"Stop\"}","payloadType":"json","topic":"","x":210,"y":2360,"wires":[["29c66c20.4bcbb4","b5f2f94e.2f2688","2c176455.3c2eb4","23e56485.34d5c4"]]},{"id":"e7904b0a.eb313","type":"ui_button","z":"ef7fa0bd.658628","name":"","group":"665b3817.310228","order":2,"width":"1","height":"1","passthru":false,"label":"Start","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"O\":\"Start\"}","payloadType":"json","topic":"","x":210,"y":2320,"wires":[["29c66c20.4bcbb4","9c0e41e.0b6f5c","c21aed06.fb3dc","23e56485.34d5c4"]]},{"id":"19527d2b.a120b3","type":"function","z":"ef7fa0bd.658628","name":"","func":"return msg;","outputs":1,"noerr":0,"x":1110,"y":1340,"wires":[["9c74461d.9b3c"]]},{"id":"b6177af8.875f8","type":"ui_text","z":"ef7fa0bd.658628","group":"5e1012b3.13be84","order":1,"width":"0","height":"0","name":"","label":"Inhalation ratio [% of breathing cycle]","format":"{{msg.payload}}","layout":"row-spread","x":550,"y":2060,"wires":[]},{"id":"7161e15.376d02","type":"ui_slider","z":"ef7fa0bd.658628","name":"","label":"","tooltip":"","group":"5e1012b3.13be84","order":1,"width":"5","height":"1","passthru":true,"outs":"all","topic":"","min":"0","max":"80","step":1,"x":210,"y":2060,"wires":[["b6177af8.875f8","d05855f1.d8783","d4d608a7.72162"]]},{"id":"c391bc5f.f8bf5","type":"ui_button","z":"ef7fa0bd.658628","name":"","group":"5e1012b3.13be84","order":2,"width":"1","height":"1","passthru":false,"label":"OK","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"complete\":true}","payloadType":"json","topic":"","x":210,"y":2100,"wires":[["cdc1cea.529823"]]},{"id":"c8f0db6d.9ea19","type":"comment","z":"ef7fa0bd.658628","name":"T-Inhalation","info":"","x":230,"y":2020,"wires":[]},{"id":"f6c184d7.c24ba","type":"join","z":"ef7fa0bd.658628","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":610,"y":2120,"wires":[["41cf4a78.07c12c"]]},{"id":"d05855f1.d8783","type":"function","z":"ef7fa0bd.658628","name":"Objectify","func":"var newmsg = {\"T\":msg.payload};\nreturn {\"payload\":newmsg};","outputs":1,"noerr":0,"x":460,"y":2100,"wires":[["f6c184d7.c24ba"]]},{"id":"cdc1cea.529823","type":"function","z":"ef7fa0bd.658628","name":"Objectify","func":"return msg.payload;","outputs":1,"noerr":0,"x":460,"y":2140,"wires":[["f6c184d7.c24ba"]]},{"id":"41cf4a78.07c12c","type":"switch","z":"ef7fa0bd.658628","name":"not empty","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":740,"y":2120,"wires":[["75ac6cdf.eae2cc"]]},{"id":"bcc60068.859c3","type":"change","z":"ef7fa0bd.658628","name":"Enhance","rules":[{"t":"set","p":"payload.T","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.P","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.PP","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.O","pt":"msg","to":"","tot":"str"},{"t":"set","p":"payload.TR","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.OO","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.IO","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.F","pt":"msg","to":"-1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":1400,"wires":[["19527d2b.a120b3","e0a35b77.0ecfb8"]]},{"id":"d4d608a7.72162","type":"function","z":"ef7fa0bd.658628","name":"enable","func":"return {\"enabled\":true};","outputs":1,"noerr":0,"x":210,"y":2200,"wires":[["c391bc5f.f8bf5"]]},{"id":"4b796b77.6a4724","type":"function","z":"ef7fa0bd.658628","name":"disable","func":"return {\"enabled\":false};","outputs":1,"noerr":0,"x":400,"y":2200,"wires":[["c391bc5f.f8bf5"]]},{"id":"ab38fdfd.22595","type":"function","z":"ef7fa0bd.658628","name":"enable","func":"return {\"enabled\":true};","outputs":1,"noerr":0,"x":210,"y":1960,"wires":[["80d95401.9c9ca"]]},{"id":"3d24ddca.10916a","type":"function","z":"ef7fa0bd.658628","name":"disable","func":"return {\"enabled\":false};","outputs":1,"noerr":0,"x":400,"y":1960,"wires":[["80d95401.9c9ca"]]},{"id":"92d8a8a5.f09ca8","type":"function","z":"ef7fa0bd.658628","name":"enable","func":"return {\"enabled\":true};","outputs":1,"noerr":0,"x":210,"y":1720,"wires":[["b68a9428.f624d"]]},{"id":"91d87b47.eac4e","type":"function","z":"ef7fa0bd.658628","name":"disable","func":"return {\"enabled\":false};","outputs":1,"noerr":0,"x":400,"y":1720,"wires":[["b68a9428.f624d"]]},{"id":"ada5eda1.cbed2","type":"function","z":"ef7fa0bd.658628","name":"enable","func":"return {\"enabled\":true};","outputs":1,"noerr":0,"x":210,"y":1460,"wires":[["604adb53.71254c"]]},{"id":"e0a35b77.0ecfb8","type":"function","z":"ef7fa0bd.658628","name":"disable","func":"return {\"enabled\":false};","outputs":1,"noerr":0,"x":420,"y":1460,"wires":[["604adb53.71254c"]]},{"id":"23e56485.34d5c4","type":"function","z":"ef7fa0bd.658628","name":"enable","func":"return {\"enabled\":true};","outputs":1,"noerr":0,"x":570,"y":2520,"wires":[["12e19179.dbf917"]]},{"id":"22c9209.cc45be","type":"function","z":"ef7fa0bd.658628","name":"disable","func":"return {\"enabled\":false};","outputs":1,"noerr":0,"x":580,"y":2480,"wires":[["12e19179.dbf917"]]},{"id":"9c74461d.9b3c","type":"json","z":"ef7fa0bd.658628","name":"","property":"payload","action":"","pretty":false,"x":1150,"y":1220,"wires":[["9d7cb538.15513","f7119fe8.a6c2e"]]},{"id":"9d7cb538.15513","type":"serial out","z":"ef7fa0bd.658628","name":"","serial":"f1f6a343.2c18a8","x":160,"y":520,"wires":[]},{"id":"f468d839.60e3b","type":"inject","z":"ef7fa0bd.658628","name":"stop","topic":"","payload":"{\"OP\":\"Stop\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":450,"y":2300,"wires":[["8dc6f15f.55c36"]]},{"id":"d18e34c0.a615c8","type":"inject","z":"ef7fa0bd.658628","name":"start","topic":"","payload":"{\"OP\":\"Start\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":450,"y":2260,"wires":[["8dc6f15f.55c36"]]},{"id":"e0469db0.28c56","type":"change","z":"ef7fa0bd.658628","name":"Enhance","rules":[{"t":"set","p":"payload.T","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.PP","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.O","pt":"msg","to":"","tot":"str"},{"t":"set","p":"payload.R","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.TR","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.OO","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.IO","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.F","pt":"msg","to":"-1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":1640,"wires":[["19527d2b.a120b3","91d87b47.eac4e"]]},{"id":"6f496782.500be8","type":"change","z":"ef7fa0bd.658628","name":"Enhance","rules":[{"t":"set","p":"payload.TR","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.T","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.P","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.O","pt":"msg","to":"","tot":"str"},{"t":"set","p":"payload.R","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.OO","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.IO","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.F","pt":"msg","to":"-1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":1880,"wires":[["19527d2b.a120b3","3d24ddca.10916a"]]},{"id":"75ac6cdf.eae2cc","type":"change","z":"ef7fa0bd.658628","name":"Enhance","rules":[{"t":"set","p":"payload.TR","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.P","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.PP","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.O","pt":"msg","to":"","tot":"str"},{"t":"set","p":"payload.R","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.OO","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.IO","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.F","pt":"msg","to":"-1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":2120,"wires":[["4b796b77.6a4724","19527d2b.a120b3"]]},{"id":"456b7428.895ddc","type":"change","z":"ef7fa0bd.658628","name":"Enhance","rules":[{"t":"set","p":"payload.TR","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.T","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.P","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.PP","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.R","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.OO","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.IO","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.F","pt":"msg","to":"-1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":2360,"wires":[["19527d2b.a120b3"]]},{"id":"5e0a6db4.a68c54","type":"serial in","z":"ef7fa0bd.658628","name":"","serial":"f1f6a343.2c18a8","x":70,"y":140,"wires":[["54d795c4.8f09d4","d911737c.9ca728","b6d7520a.bec6e8","6113d35b.df87ec"]]},{"id":"44225a2a.edef54","type":"function","z":"ef7fa0bd.658628","name":"Convert","func":"return {\"payload\":msg.payload.R1,\"topic\":\"State R1\"}","outputs":1,"noerr":0,"x":520,"y":140,"wires":[["eea2fda0.29e1f8"]]},{"id":"fdf93a8a.5870f","type":"function","z":"ef7fa0bd.658628","name":"Convert","func":"return {\"payload\":msg.payload.R2,\"topic\":\"State R2\"}","outputs":1,"noerr":0,"x":520,"y":180,"wires":[["eea2fda0.29e1f8"]]},{"id":"9d081644.9c0088","type":"change","z":"ef7fa0bd.658628","name":"Pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.P","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":100,"wires":[["442f3479.b6c344","d4cd70dc.b4c788"]]},{"id":"54d795c4.8f09d4","type":"json","z":"ef7fa0bd.658628","name":"","property":"payload","action":"obj","pretty":false,"x":300,"y":160,"wires":[["44225a2a.edef54","fdf93a8a.5870f"]]},{"id":"d911737c.9ca728","type":"json","z":"ef7fa0bd.658628","name":"","property":"payload","action":"obj","pretty":false,"x":310,"y":60,"wires":[["9d081644.9c0088"]]},{"id":"649f056e.3911bc","type":"function","z":"ef7fa0bd.658628","name":"reset","func":"\nreturn {\"payload\":[]};","outputs":1,"noerr":0,"x":830,"y":200,"wires":[["442f3479.b6c344","eea2fda0.29e1f8"]]},{"id":"4701dec8.9c48a","type":"ui_button","z":"ef7fa0bd.658628","name":"","group":"ddf992f4.4e0c1","order":4,"width":0,"height":0,"passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":690,"y":220,"wires":[["649f056e.3911bc"]]},{"id":"9aa0a173.74074","type":"switch","z":"ef7fa0bd.658628","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"payload.S","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":380,"wires":[["70f55f66.ecec68"]]},{"id":"b6d7520a.bec6e8","type":"json","z":"ef7fa0bd.658628","name":"","property":"payload","action":"obj","pretty":false,"x":170,"y":280,"wires":[["9aa0a173.74074","7566d99c.08863"]]},{"id":"56e4e79e.95cc8","type":"change","z":"ef7fa0bd.658628","name":"Telemetry rate [1/sec]","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.TR","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":340,"wires":[["861fd3f9.85f4d"]]},{"id":"861fd3f9.85f4d","type":"ui_text","z":"ef7fa0bd.658628","group":"4eb874b1.f27214","order":9,"width":0,"height":0,"name":"","label":"Telemetry rate","format":"{{msg.payload}}","layout":"row-spread","x":890,"y":340,"wires":[]},{"id":"d4cd70dc.b4c788","type":"ui_gauge","z":"ef7fa0bd.658628","name":"","group":"4eb874b1.f27214","order":8,"width":0,"height":0,"gtype":"gage","title":"Patient pressure","label":"mbar","format":"{{value}}","min":"-5","max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1040,"y":200,"wires":[]},{"id":"8a4cbd10.49e708","type":"ui_text","z":"ef7fa0bd.658628","group":"5e1012b3.13be84","order":1,"width":0,"height":0,"name":"","label":"Inhalation valve open%","format":"{{msg.payload}}","layout":"row-spread","x":500,"y":1080,"wires":[]},{"id":"4ea91901.85e7","type":"ui_slider","z":"ef7fa0bd.658628","name":"","label":"","tooltip":"","group":"5e1012b3.13be84","order":1,"width":"5","height":"1","passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":"1","x":150,"y":1120,"wires":[["8a4cbd10.49e708","9fde5596.a583c","b0ce235b.0f3e5"]]},{"id":"3a8e0988.c79316","type":"ui_button","z":"ef7fa0bd.658628","name":"","group":"5e1012b3.13be84","order":2,"width":"1","height":"1","passthru":false,"label":"OK","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"complete\":true}","payloadType":"json","topic":"","x":210,"y":1160,"wires":[["14c146de.affed1"]]},{"id":"6c69144f.fb0bb4","type":"comment","z":"ef7fa0bd.658628","name":"In_open","info":"","x":210,"y":1080,"wires":[]},{"id":"f62b05a8.9b663","type":"join","z":"ef7fa0bd.658628","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":610,"y":1180,"wires":[["be087bac.acf4f8"]]},{"id":"9fde5596.a583c","type":"function","z":"ef7fa0bd.658628","name":"Objectify","func":"var newmsg = {\"IO\":msg.payload};\nreturn {\"payload\":newmsg};","outputs":1,"noerr":0,"x":460,"y":1120,"wires":[["f62b05a8.9b663"]]},{"id":"14c146de.affed1","type":"function","z":"ef7fa0bd.658628","name":"Objectify","func":"return msg.payload;","outputs":1,"noerr":0,"x":460,"y":1180,"wires":[["f62b05a8.9b663"]]},{"id":"be087bac.acf4f8","type":"switch","z":"ef7fa0bd.658628","name":"not empty","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":740,"y":1180,"wires":[["3bbd289d.5c0da8"]]},{"id":"3bbd289d.5c0da8","type":"change","z":"ef7fa0bd.658628","name":"Enhance","rules":[{"t":"set","p":"payload.TR","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.R","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.T","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.P","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.PP","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.O","pt":"msg","to":"","tot":"str"},{"t":"set","p":"payload.OO","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.F","pt":"msg","to":"-1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":1180,"wires":[["c92a2eba.0c7b48","19527d2b.a120b3"]]},{"id":"b0ce235b.0f3e5","type":"function","z":"ef7fa0bd.658628","name":"enable","func":"return {\"enabled\":true};","outputs":1,"noerr":0,"x":210,"y":1240,"wires":[["3a8e0988.c79316"]]},{"id":"c92a2eba.0c7b48","type":"function","z":"ef7fa0bd.658628","name":"disable","func":"return {\"enabled\":false};","outputs":1,"noerr":0,"x":420,"y":1240,"wires":[["3a8e0988.c79316"]]},{"id":"f738775.2542f08","type":"ui_text","z":"ef7fa0bd.658628","group":"ddf992f4.4e0c1","order":1,"width":0,"height":0,"name":"breathing state","label":"Breathing state:","format":"{{msg.payload}}","layout":"col-center","x":520,"y":240,"wires":[]},{"id":"f35f019.741178","type":"ui_text","z":"ef7fa0bd.658628","group":"5e1012b3.13be84","order":1,"width":0,"height":0,"name":"","label":"Exhalation valve open%","format":"{{msg.payload}}","layout":"row-spread","x":510,"y":860,"wires":[]},{"id":"97515d13.8ef348","type":"ui_slider","z":"ef7fa0bd.658628","name":"","label":"","tooltip":"","group":"5e1012b3.13be84","order":1,"width":"5","height":"1","passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":"1","x":150,"y":900,"wires":[["f35f019.741178","4a871364.ec2bdc","5aca5ebf.33152"]]},{"id":"863227d9.8e14f8","type":"ui_button","z":"ef7fa0bd.658628","name":"","group":"5e1012b3.13be84","order":2,"width":"1","height":"1","passthru":false,"label":"OK","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"complete\":true}","payloadType":"json","topic":"","x":210,"y":940,"wires":[["8508f767.871a18"]]},{"id":"69a9612c.5708f8","type":"comment","z":"ef7fa0bd.658628","name":"Out_open","info":"","x":210,"y":860,"wires":[]},{"id":"1a69ef37.a463e9","type":"join","z":"ef7fa0bd.658628","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":610,"y":960,"wires":[["ab93f075.0dede8"]]},{"id":"4a871364.ec2bdc","type":"function","z":"ef7fa0bd.658628","name":"Objectify","func":"var newmsg = {\"OO\":msg.payload};\nreturn {\"payload\":newmsg};","outputs":1,"noerr":0,"x":460,"y":900,"wires":[["1a69ef37.a463e9"]]},{"id":"8508f767.871a18","type":"function","z":"ef7fa0bd.658628","name":"Objectify","func":"return msg.payload;","outputs":1,"noerr":0,"x":460,"y":960,"wires":[["1a69ef37.a463e9"]]},{"id":"ab93f075.0dede8","type":"switch","z":"ef7fa0bd.658628","name":"not empty","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":740,"y":960,"wires":[["ca3094a3.41c848"]]},{"id":"ca3094a3.41c848","type":"change","z":"ef7fa0bd.658628","name":"Enhance","rules":[{"t":"set","p":"payload.TR","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.R","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.T","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.P","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.PP","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.O","pt":"msg","to":"","tot":"str"},{"t":"set","p":"payload.IO","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.F","pt":"msg","to":"-1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":960,"wires":[["1706262.12581da","19527d2b.a120b3"]]},{"id":"5aca5ebf.33152","type":"function","z":"ef7fa0bd.658628","name":"enable","func":"return {\"enabled\":true};","outputs":1,"noerr":0,"x":210,"y":1020,"wires":[["863227d9.8e14f8"]]},{"id":"1706262.12581da","type":"function","z":"ef7fa0bd.658628","name":"disable","func":"return {\"enabled\":false};","outputs":1,"noerr":0,"x":420,"y":1020,"wires":[["863227d9.8e14f8"]]},{"id":"ad884ad4.e98da8","type":"ui_text","z":"ef7fa0bd.658628","group":"5e1012b3.13be84","order":1,"width":0,"height":0,"name":"","label":"Telemetry rate [1/sec]","format":"{{msg.payload}}","layout":"row-spread","x":460,"y":660,"wires":[]},{"id":"8afdf148.4ad938","type":"ui_slider","z":"ef7fa0bd.658628","name":"","label":"","tooltip":"","group":"5e1012b3.13be84","order":1,"width":"5","height":"1","passthru":true,"outs":"all","topic":"","min":0,"max":"24","step":"1","x":130,"y":680,"wires":[["ad884ad4.e98da8","f18de427.3e7f4","e0a0a238.748d18"]]},{"id":"937e5ac8.8a3328","type":"ui_button","z":"ef7fa0bd.658628","name":"","group":"5e1012b3.13be84","order":2,"width":"1","height":"1","passthru":false,"label":"OK","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"complete\":true}","payloadType":"json","topic":"","x":190,"y":720,"wires":[["cd07d452.f6372"]]},{"id":"6a0bff19.88b4e","type":"comment","z":"ef7fa0bd.658628","name":"Telemetry rate","info":"","x":200,"y":640,"wires":[]},{"id":"cdebbb6c.2a3f6","type":"join","z":"ef7fa0bd.658628","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":590,"y":740,"wires":[["ecd620f9.6ac12"]]},{"id":"f18de427.3e7f4","type":"function","z":"ef7fa0bd.658628","name":"Objectify","func":"var newmsg = {\"TR\":msg.payload};\nreturn {\"payload\":newmsg};","outputs":1,"noerr":0,"x":440,"y":700,"wires":[["cdebbb6c.2a3f6"]]},{"id":"cd07d452.f6372","type":"function","z":"ef7fa0bd.658628","name":"Objectify","func":"return msg.payload;","outputs":1,"noerr":0,"x":440,"y":740,"wires":[["cdebbb6c.2a3f6"]]},{"id":"ecd620f9.6ac12","type":"switch","z":"ef7fa0bd.658628","name":"not empty","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":720,"y":740,"wires":[["478f16d1.07459"]]},{"id":"478f16d1.07459","type":"change","z":"ef7fa0bd.658628","name":"Enhance","rules":[{"t":"set","p":"payload.R","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.T","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.P","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.PP","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.O","pt":"msg","to":"","tot":"str"},{"t":"set","p":"payload.IO","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.OO","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.F","pt":"msg","to":"-1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":740,"wires":[["f198dfc9.6eca2","19527d2b.a120b3"]]},{"id":"e0a0a238.748d18","type":"function","z":"ef7fa0bd.658628","name":"enable","func":"return {\"enabled\":true};","outputs":1,"noerr":0,"x":190,"y":800,"wires":[["937e5ac8.8a3328"]]},{"id":"f198dfc9.6eca2","type":"function","z":"ef7fa0bd.658628","name":"disable","func":"return {\"enabled\":false};","outputs":1,"noerr":0,"x":400,"y":800,"wires":[["937e5ac8.8a3328"]]},{"id":"7566d99c.08863","type":"change","z":"ef7fa0bd.658628","name":"Settings","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.B","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":280,"wires":[["f738775.2542f08"]]},{"id":"f7119fe8.a6c2e","type":"ui_text","z":"ef7fa0bd.658628","group":"ddf992f4.4e0c1","order":5,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":1160,"y":1060,"wires":[]},{"id":"6113d35b.df87ec","type":"ui_text","z":"ef7fa0bd.658628","group":"ddf992f4.4e0c1","order":1,"width":0,"height":0,"name":"raw telemetry","label":"","format":"{{msg.payload}}","layout":"col-center","x":320,"y":220,"wires":[]},{"id":"cf100f74.6952a8","type":"ui_text","z":"ef7fa0bd.658628","group":"5e1012b3.13be84","order":1,"width":0,"height":0,"name":"","label":"Fio2 (%O2)","format":"{{msg.payload}}","layout":"row-spread","x":1390,"y":620,"wires":[]},{"id":"8bf4f283.0e5ed","type":"ui_slider","z":"ef7fa0bd.658628","name":"","label":"","tooltip":"","group":"5e1012b3.13be84","order":1,"width":"5","height":"1","passthru":true,"outs":"all","topic":"","min":"21","max":"100","step":"1","x":1060,"y":660,"wires":[["cf100f74.6952a8","d282c7d1.2a75f","b1bd5f5c.1da5b"]]},{"id":"f2125629.4c2998","type":"ui_button","z":"ef7fa0bd.658628","name":"","group":"5e1012b3.13be84","order":2,"width":"1","height":"1","passthru":false,"label":"OK","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"complete\":true}","payloadType":"json","topic":"","x":1120,"y":700,"wires":[["5c1f2ae4.b2495c"]]},{"id":"252b55b1.ef086a","type":"comment","z":"ef7fa0bd.658628","name":"Fio2","info":"","x":1110,"y":620,"wires":[]},{"id":"50364247.af8e2c","type":"join","z":"ef7fa0bd.658628","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1520,"y":720,"wires":[["e261713e.949258"]]},{"id":"d282c7d1.2a75f","type":"function","z":"ef7fa0bd.658628","name":"Objectify","func":"var newmsg = {\"F\":msg.payload};\nreturn {\"payload\":newmsg};","outputs":1,"noerr":0,"x":1370,"y":660,"wires":[["50364247.af8e2c"]]},{"id":"5c1f2ae4.b2495c","type":"function","z":"ef7fa0bd.658628","name":"Objectify","func":"return msg.payload;","outputs":1,"noerr":0,"x":1370,"y":720,"wires":[["50364247.af8e2c"]]},{"id":"e261713e.949258","type":"switch","z":"ef7fa0bd.658628","name":"not empty","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1650,"y":720,"wires":[["35c3836a.0b4004"]]},{"id":"35c3836a.0b4004","type":"change","z":"ef7fa0bd.658628","name":"Enhance","rules":[{"t":"set","p":"payload.R","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.T","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.P","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.PP","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.O","pt":"msg","to":"","tot":"str"},{"t":"set","p":"payload.IO","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.OO","pt":"msg","to":"-1","tot":"num"},{"t":"set","p":"payload.TR","pt":"msg","to":"-1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1790,"y":720,"wires":[["1fc428d9.dd5c87","19527d2b.a120b3"]]},{"id":"b1bd5f5c.1da5b","type":"function","z":"ef7fa0bd.658628","name":"enable","func":"return {\"enabled\":true};","outputs":1,"noerr":0,"x":1120,"y":780,"wires":[["f2125629.4c2998"]]},{"id":"1fc428d9.dd5c87","type":"function","z":"ef7fa0bd.658628","name":"disable","func":"return {\"enabled\":false};","outputs":1,"noerr":0,"x":1330,"y":780,"wires":[["f2125629.4c2998"]]},{"id":"896733ac.6d1368","type":"ui_text","z":"ef7fa0bd.658628","group":"4eb874b1.f27214","order":3,"width":0,"height":0,"name":"","label":"I:E ratio","format":"{{msg.payload}}","layout":"row-spread","x":1060,"y":460,"wires":[]},{"id":"487d2616.9c5de","type":"function","z":"ef7fa0bd.658628","name":"T_in to I:E ratio","func":"var newmsg\nif (msg.payload >50)\n{\nnewmsg={payload: \"1 : \"+(100/(100-msg.payload)-1).toFixed(1)};\n}\nif (msg.payload <=50){\n newmsg={payload: ((100/(100-msg.payload)-1).toFixed(1))+\" : 1\"};\n}\n//newmsg=newmsg*2;\nreturn newmsg;","outputs":1,"noerr":0,"x":720,"y":460,"wires":[["896733ac.6d1368"]]},{"id":"34df559e.2635d2","type":"ui_text","z":"ef7fa0bd.658628","group":"4eb874b1.f27214","order":4,"width":0,"height":0,"name":"","label":"Inhalation ratio [%]","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":420,"wires":[]},{"id":"9475b411.2e29c","type":"change","z":"ef7fa0bd.658628","name":"FiO2","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.F","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":300,"wires":[["c7458339.532a1"]]},{"id":"c7458339.532a1","type":"ui_text","z":"ef7fa0bd.658628","group":"4eb874b1.f27214","order":5,"width":0,"height":0,"name":"","label":"FiO2 %","format":"{{msg.payload}}","layout":"row-spread","x":860,"y":300,"wires":[]},{"id":"ddf992f4.4e0c1","type":"ui_group","z":"","name":"System state","tab":"56b94bfe.416444","disp":true,"width":"10","collapse":false},{"id":"4eb874b1.f27214","type":"ui_group","z":"","name":"Settings","tab":"56b94bfe.416444","disp":true,"width":"5","collapse":false},{"id":"f42dd663.2cbf78","type":"ui_group","z":"","name":"Rate","tab":"56b94bfe.416444","disp":true,"width":"4","collapse":false},{"id":"7fa5b4db.896cbc","type":"ui_group","z":"","name":"PEEP","tab":"56b94bfe.416444","disp":true,"width":"4","collapse":false},{"id":"55aad09d.cb0a48","type":"ui_group","z":"","name":"Peak","tab":"56b94bfe.416444","disp":true,"width":"4","collapse":false},{"id":"665b3817.310228","type":"ui_group","z":"","name":"Operation","tab":"56b94bfe.416444","disp":true,"width":"4","collapse":false},{"id":"5e1012b3.13be84","type":"ui_group","z":"","name":"T-In","tab":"56b94bfe.416444","disp":true,"width":"6","collapse":false},{"id":"f1f6a343.2c18a8","type":"serial-port","z":"","serialport":"COM10","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"56b94bfe.416444","type":"ui_tab","z":"","name":"Debugging","icon":"dashboard","order":1,"disabled":false,"hidden":false}]